h1 {
    font-size: 48px;
    color: lightcoral;

}

body {
    background-color: #ffffff;
}

.logo{
    background-image: url('logo.jpg');
    background-repeat: no-repeat;
    width: 355px;
    height: 52px;
    background-size: 355px 52px;
}    
