h1 {
    font-size: 48px;
    color: lightcoral;

}

body {
    background-color: #ffffff;
}

.logo{
    text-indent: -9999999990px;
    background-image: url('logo.jpg');
    width: 355px;
    height: 52px;
}    
